:root {
  /* primary colours */
  --white: #FFFFFF;
  --light-grey: #7D8E9A;
  --dark-grey: #364652;
  --main-blue: #0062C1;

  /* secondary colours */
  --dark-blue: #002850;
  --light-blue: #50A8FF;
  --lighter-blue: #a1d0ff;
  --pink: #E270B1;
  --purple: #A11866;
  --dark-purple: #400024;

  /* tertiary colours */
  --dark-green: #01924C;
  --yellow: #FFBC29;
  --orange: #EC900E;
  --red: #C62441;

  /* fonts */
  --main-font: 'Raleway', sans-serif;
  --header-font: 'Ubuntu', sans-serif;

  /* sizes */
  --icon-size: 25px;
}

html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden
}

body:not(.App-header) {
  font-family: var(--main-font);
}

#root, .App {
  height: 100vh;
}

p {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

.App {
  text-align: center;
}

.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em !important;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: var(--main-blue);
  height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(15px + 2vmin);
  color: white;
  font-family: var(--header-font);
  font-weight: 700;
  width: 100%;
  flex-direction: row;
}

.page-header {
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  font-family: var(--header-font);
  font-weight: 700;
}

#header-straightener {
  width: 75px;
  height: 30px;
}

.content-inner {
  height: auto;
  width: 90%;
  margin: auto;
  margin-bottom: 0px;
}

.content-inner-addit-page {
  width: 90%;
  margin: auto;
}

#responsive-dashboard {
  height: 50%;
}

#button-holder {
  position: absolute;
  bottom: 0;
  margin-bottom: 1vh;
  width: 90vw;
}

.button-one, .button-two, .submit-button-holder, .submit-button-holder-welcome, .MuiButton-label {
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 48%;
  text-align: center;
}

.button-one, .button-two, .submit-button-holder, .submit-button-holder-welcome {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.submit-button-holder-welcome button {
  text-transform: none !important;
}

.submit-button-holder {
  height: 8vh;
  width: 42%;
}

.submit-button-holder-welcome {
  height: 6vh;
  width: 30vw;
}

.button-one, .button-two {
  margin-bottom: 5%;
  height: 12vh;
}

.button, button {
  height: 60%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 20%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

button {
  height: 85%;
  background-color: white !important;
  margin-right: 1vw !important;
  padding: 3vw !important;
  width: 30vw !important;
  font-weight: bold !important;
  margin-left: 1vw !important;
  font-size: 1em !important;
  box-shadow: none !important;
  font-family: var(--main-font) !important;
  letter-spacing: 0em !important;
}

.MuiButton-label, .MuiButtonBase-root {
  background-color: white;
}

.button-one {
  margin-right: 11.75%;
}

.button-one span, .button-two span {
  margin: auto;
  text-align: center;
}

#vci-header, #positive-message, #negative-message {
  color: white;
}

#welcome-header {
  background: var(--dark-grey);
  color: white;
  font-size: calc(40px + 2vmin);
  font-weight: 400;
}

#venue-button, #vci-header {
  background: var(--dark-blue);
}

#results-button, #itr-header {
  background: var(--light-blue);
}

#book-test-button {
  background: var(--lighter-blue);
}

#checker-button {
  background: var(--pink);
}

#settings-button {
  background: var(--purple);
}

#about-button {
  background: var(--dark-purple);
}

.submit-button-holder, .submit-button-holder-welcome, #positive-message, .submit-button-positioner-home, .success-page-holder {
  background: var(--dark-green);
}

#negative-message {
  background: var(--red);
}

#negative-message, #positive-message {
  padding: 5vw;
  margin: 0px;
}

#home-button {
  background: var(--orange);
  margin-right: 0px;
}

span.main-button, input[type=submit], span.header-button {
  float: right;
  background: var(--white);
  border: 1px solid #fff;
  border-radius: 5px;
  text-decoration: none;
  text-shadow: #fff 0 1px 0;
  color: black;
  padding: 2vw;
  font-weight: bold;
  width: 62%;
  vertical-align: middle;
  display: flex;
  align-items: center;
  margin-right: 1vw;
  text-align: center;
}

span.main-button, input.submit-button {
  height: 9vh;
  font-size: 1rem;
}

span.main-button {
  background-color: white;
}

.main-button p {
  text-align: center;
  margin: auto;
}

input.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  width: 27vw;
  text-align: center;
  margin: auto;
}

span.header-button {
  height: 30%;
  font-size: 0.8rem;
}

.danger-level {
  display: flex;
  text-align: center;
  margin: auto;
  font-size: 1rem;
  font-weight: bold;
  vertical-align: middle;
  display: flex;
  align-items: center;
  color: var(--white);
  padding: 0.75vh;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20vw;
  margin-top: 0.25em;
}

#low-level {
  background-color: var(--dark-green);
}

#med-level {
  background-color: var(--orange);
}

#high-level {
  background-color: var(--red);
}

#venue-icon, #results-icon, #test-icon, #settings-icon, #checker-icon, #about-icon {
  float: left;
  width: var(--icon-size);
  height: var(--icon-size);
  vertical-align: middle;
  padding: 1vh;
}

.row {
  display: flex;
  flex-direction: row;
}

.dashboard-header {
  background-color: var(--dark-grey);
  height: 4vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 1.3rem;
  color: white;
  font-family: var(--header-font);
  text-align: left;
  padding-left: 3vw;
}

.dashboard-header * {
  font-weight: 700;
}

.dashboard-container {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  margin: 8% 0px;
}

.iso-info, .addit-info {
  display: flex;
  justify-content: center;
  align-items: middle;
}

.iso-info {
  height: 10vh;
}

.iso-data, .postcode-details {
  font-weight: 400;
}

.iso-data div {
  display: flex;
  margin: auto;
}

.countdown-info p {
  font-weight: 700;
  padding-bottom: 0.5vh;
}

.countdown-num {
  font-size: 2rem;
}

.arrow-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  padding: 0px 1.5vw 0px 0px;
}

.arrow-icon-for-button {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  padding: 0px 0px 0px 1.5vw;
}

.header-arrow-icon {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  padding: 0px 0.5vw;
}

.arrow-icon-holder {
  height: 20px;
  vertical-align: middle;
  margin: auto;
}

.arrow-icon-holder span {
  background-color: white;
}

.iso-data {
  display: flex;
  flex-wrap: wrap;
  height: 10vh;
  width: 70%;
  background-color: var(--red);
  color: var(--white);
}

.iso-data span {
  width: 100%;
  padding-top: 1vh;
}

.addit-info-p {
  vertical-align: middle;
  padding: 2vw;
}

.dashboard-header span {
  font-weight: 700;
  font-size: 0.85em;
}

.addit-info {
  width: 30%;
  background-color: var(--light-grey);
  color: var(--white);
  font-size: 0.65rem;
  height: 100%;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.postcode-icon {
  display: flex;
  align-items: center;
  width: 30%;
}

.postcode-info {
  display: flex;
  height: 21vh;
}

#pin-icon {
  width: 100%;
}

.postcode-details {
  align-items: center;
  margin: auto;
  padding: 2vw;
  width: 40%;
}

.postcode-details span {
  width: 100%;
}

#postcode {
  font-weight: 700;
  font-size: 1.5rem;
}

.page-info {
  display: flex;
  vertical-align: middle;
  align-items: center;
  height: 30vh;
}

.page-info-venue, .page-info-venue-two {
  text-align: center;
  display: flex;
  height: 10vh;
}

.page-info-venue {
  padding-top: 3vh;
}

#camera-input {
  display: flex;
  vertical-align: middle;
  align-items: center;
  height: 40vh;
}

#camera {
  display: flex;
  vertical-align: middle;
  align-items: center;
  margin: auto;
  height: 35vh;
  width: 35vh;
  background-color: black;
}

#vci-option-2 {
  text-decoration: underline;
  font-style: italic;
  font-weight: 400;
  margin: auto;
  margin-top: 0.5vh;
  font-size: 0.9em;
}

.page-info p, .page-info-venue p {
  font-weight: 700;
  font-size: 1rem;
  margin: 0px 10%;
}

#input-test-form {
  height: 30vh;
  margin-top: 20%;
}

#venue-form-input {
  height: 20vh;
}

#vci-other-input-option {
  height: 4vh;
}

#vci-other-input-option * {
  margin: auto;
}

input[type=text] {
  border: 1px solid #7D8E9A;
  height: 3vh;
  border-radius: 5px;
}

input {
  font-family: var(--main-font);
}

.submit-button-positioner {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 6vh;
  width: 90%;
}

.submit-button-positioner-home {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 9vh;
}

.submit-button-positioner-welcome {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.addit-page {
  height: calc(100vh - 7vh); 
}

#welcome-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 0.9em;
}

.question {
  width: 35%;
  float: left;
  padding-left: 8vw;
}

.question p:not(.tut-text), .question label {
  font-weight: 700;
}

.form-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-items: center;
  margin-bottom: 3vh;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.form-input {
  display: flex;
  float: right;
  width: 50%;
  padding-right: 8vw;
  padding-left: calc(4vw + 9px);
  justify-content: space-between;
}

.form-radio-box {
  display: flex;
  float: right;
  width: 50%;
  padding-right: 8vw;
  padding-left: 4vw;
  justify-content: space-around;
  
}

.form-radio-box * {
  font-size: 1em !important;
}

.form-radio-box label {
  margin: 0px;
}

.form-input label {
  margin: 0px;
}

.MuiFormControl-root, .MuiTextField-root {
  display: flex;
}

.form-header {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-text {
  width: 60%;
  margin: auto;
}

.tut-text {
  font-style: italic;
}

#t-and-t {
  font-weight: 700;
  color: var(--main-blue);
  text-decoration: underline;
  font-style: normal;
}

.info-img {
  margin: 0px;
  height: 15px;
  width: 15px;
  padding-left: 1vw;
}

.form-text {
  font-size: 1.4em;
  font-weight: 700;
  padding: 5vh 0px;
}

#about-the-app {
  padding-top: 2vh;
  color: var(--dark-grey);
  font-size: 0.9em;
  text-decoration: underline;
  font-style: italic;
}

#input-test-code {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 10vh;
  align-items: center;
  font-size: 0.9em;
}

#input-test-code p {
  font-weight: 700;
}

#cis-header {
  height: 18vh;
  color: white;
  display: flex;
}

.success-tick-icon {
  height: 5vh;
  padding: 1vh;
}

#success-page {
  background-color: var(--dark-green);
  height: 70vh;
}

#success-page-info {
  font-size: 1.3em;
  width: 80vw;
  background-color: var(--white);
  height: 50vh;
}

.success-page-holder {
  height: calc(100vh - 24vh);
}

#venue-info {
  padding: 8vw;
  margin: auto;
}

#venue-name {
  font-size: 1.8em;
  font-weight: 700;
  padding: 2vh;
}

#vci-learn-more {
  color: var(--dark-grey);
  font-style: italic;
  text-decoration: underline;
  font-size: 0.7em;
  padding-top: 8vw;
}

.MuiIconButton-colorSecondary {
  color: var(--main-blue) !important;
}